*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(72, 218, 218);
    height: 250px;
}

.clearfix:after{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.container{
  width: 90%;
  margin: auto;
}

.logo{
    height: 100px;
    float: left;
}

.heading nav{
    float: right;
    margin-top: 20px;
}

.header__menu{
    display: block;
}

.header__menu li{
    float: left;
    margin-right: 100px;
    list-style-type: none;
}

.header__menu a{
    text-decoration: none;
    font-size: 20px;
}

.titles__first{
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

header .title h1{
    font-size: 75px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
