// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_page {
  width: 100vw;
  margin-top: 20px;
}

.task_page .tasks_table {
  text-align: center;
  top: 0;
  width: 85%;
}

.new_task_task_page {
  font-size: 16px;
  width: 210px;
  display: inline-block;
  float: right;
  margin-right: 6%;
}
.task_page .tasks_table th:last-child {
    border-bottom: none;
}
.bottom {
  margin-top: 10px;
  display: flex;
}

.pagination {
  font-size: 20px;
  margin: 0 auto;

}
