// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task_page {
  width: 100vw;
  display: flex;
}

.task_page .tasks_table {
  color: green;
  margin-top: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  border-collapse: collapse;
  border-spacing: 5px;
  background: #f0f0f0;
  border-radius: 20px;
  font-size: 20px;
}

.task__title {
  font-size: 20px;
}

.tasks_table th {
  font-size: 22px;
  font-weight: 300;
  color: #F56433;
}

.tasks_table th h1 {
  border-bottom: 2px solid #F56433;
}

.tasks_table td {
  padding: 25px 70px;
  font-size: 18px;
}

a.new_task {
  font-size: 20px;
  width: 20px;
}



.task_page .task_sidebar {
  display: inline-block;
  margin-top: 66px;
  width: 15%;
  background-color: #7171ff;
}

.pagination {
  font-size: 25px;
}
