<header>
   <div class="container">
      <div class="heading clearfix">
         <img src="https://placeit-assets.s3-accelerate.amazonaws.com/landing-pages/landing-page-redo-make-a-gaming-logo/Deadnauts-Esports-Logo-Maker.png" class='logo' alt="logo">
         <nav>
            <ul class="header__menu">
               <li><a class='header__home' href="#">Home</a></li>
               <li><a class='header__tasks' href="#">Tasks</a></li>
               <li><a href="#">Sign in / Sign up</a></li>
               <li><a href="#">Log out</a></li>
            </ul>
         </nav>
      </div>
      <div class="title">
         <div class="titles__first">Welcome to Time Table</div>
         <h1>Easy to use</h1>
      </div>
   </div>

</header>
