<main>
  <div class="container">
    <div id='inputs'>
      <%= link_to '+Add task', new_task_path, class: 'btn btn-primary', id: 'add__task', remote: true%>
      <!-- <input class='btn btn-primary' id='add__task' type="button" value="+Add task"> -->
      <%= render 'tasks/form'%>
      <ins id="error" hidden>Error! Task haven't started!</ins>
    </div>
    <table class="table">
      <tr>
        <th id='task__title' colspan="4">Today</th>
      </tr>
      <tr>
        <th>Project</th>
        <th>Task</th>
        <th>Start/End time</th>
        <th>Full time</th>
      </tr>

      <% @today_tasks.each do |task| %>
        <%= render 'tasks/table_info', task: task %>
      <% end %>
    </table>
  </div>
</main>
