<main>
  <div class="container">
     <div id='inputs'>
        <input class='btn btn-primary' id='add__task' type="button" value="+Add task">
        <form method='POST' action="" value=''>
           <select id='select' class="btn btn-outline-secondary dropdown-toggle" type="button">
              <option>Select</option>
              <option>qwe</option>
              <option>Selwq</option>
           </select>
           <input id='description' class='form-control' type="text" name="" id="">
           <button class='btn btn-success' id='start' type="button">Start</button>
           <button class="hidden_btn btn btn-warning" hidden>Pause</button>
           <button class="hidden_btn btn btn-danger" hidden>Stop</button>
        </form>
    </div>
</main>
